body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000;
  line-height: 1.4;
  font-size: 14px;
  text-align: center;
}

a {
  color: #007736;
}

.custom_btn {
  color: #fff;
  background: #007736;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  display: block;
}

.catalog {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  max-width: 90%;
}

.catalog img {
  max-width: 100%;
  height: auto;
}

.catalog img:hover {
  opacity: 0.8;
}

img.logo {
  max-width: 100%;
  max-height: 256px;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
